@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
  font-family: "Noto Sans KR", sans-serif;
}

.gambling-button {
  cursor: url("../../../asset/drooling.png"), auto;
  margin-left: 2%;
  margin-right: 2%;
}

#having-money {
  color: red;
}
